main{
    section{
        .titulo-ubicacion{
            font-family: $fuente-principal;
            color: rgb(161, 161, 161);
            text-align: center;
            margin: 30px;
        }
        .p-bottom{
            padding-bottom: 30px;
        }
    }
}