header{
    color: white;
    .fondo-header{
        background-color: rgba(117, 134, 103, 0.329) !important;
        div{
            .logo-cb{
                height: 80px;
                cursor: pointer;
            }
            div{
                .posicion{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: 70px !important;
                    margin-right: 650px !important;
                    li{
                        a{
                            padding: 5px;
                            font-family: $fuente-principal;
                            color: white !important;
                            font-size: 1.2rem;
                            border: 1px solid transparent;
                            border-radius: 3px;
                            margin: 10px;
                            &:hover{
                                border: 1px solid gray;
                                transition: .5s;
                                background: gray;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*
.titulo{
                font-family: $fuente-carta;
                font-size: xx-large;
                color: white;
            }
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
nav{
    background-color: rgb(5, 5, 5, 0.9);
    height: 15vh;
    width: 100%;
    .enlace{
        position: absolute;
        padding: 20px 50px;
    }
    .logo{
        height: 40px;
    }
    .links{
        float: right;
        margin-right: 20px;
        .liclass{
            display: inline-block;
            padding-top: 20px;
        }
    }
    .links li a{
        color: white;
        font-size: 18px;
        text-decoration: none;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
        font-family: $fuente-principal;
    }
    li a.active, li a:hover{
        background: gray;
        transition: .5s;
    }
    .checkbtn{
        font-size: 30px;
        color: white;
        float: right;
        padding-top: 30px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    #check{
        display: none;
    }
}
@media (max-width: 952px){
    nav{
        .enlace{
            padding-left: 200px;
        }
        .links li{
            font-size: 16px;
        }
    }
}

@media (max-width: 858px){
    nav{
        .checkbtn{
            display: block;
        }
        .links{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: rgb(5, 5, 5, 0.9);
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
        }
        .links li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        .links li a {
            font-size: 20px;
        }
        li a:hover, li a.active{
            background: none;
            color: gray;
        }
        #check:checked ~ ul{
            left: 0;
        }
    }
}
*/
/* INTENTO 2 
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: $fuente-principal;
    header{
        width: 100%;
        height: 100vh;
        background-color: rgb(5, 5, 5, 0.9);
        nav{
            height: 100px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                width: 140px;
                margin-left: 20px;
            }
            .bar-btn{
                font-size: 30px;
                color: white;
                margin-right: 20px;
                cursor: pointer;
            }
            .nav-menu{
                position: fixed;
                width: 100%;
                height: 0vh;
                top: 100px;
                background: rgba($color: #000000, $alpha: .95);
                text-align: center;
                transition: all .5s;
            }
            .nav-menu li{
                display: none;
                line-height: 30px;
                margin: 50px 0;
                transition: all .5s;
            }
            .nav-menu li a{
                color: white;
                font-size: 16px;
                text-transform: uppercase;
                text-decoration: none;
            }
            .nav-menu li a.active, .nav-menu li a:hover{
                color: rgb(87, 86, 86);
                transition: .3s;
            }
            #check{
                display: none;
            }
            #check:checked ~ .nav-menu{
                height: 100vh;
            }
            #check:checked ~ .nav-menu li{
                display: block;
            }
        }
    }
}

@media screen and (min-width: 768px){
    .logo{
        margin-left: 50px;
    }
    nav{
        height: 100px;
    }
    .bar-btn{
        display: none;
    }
}

@media screen and (min-width: 768px){
    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }
    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }
    .nav-menu li a {
        font-size: 12px;
    }
}
 */
/* INTENTO HEADER CON FONDO BORROSO
header{
    background-color: rgb(5, 5, 5, 0.9);
    .head{
        display: flex;
        align-items: center;
        .icon{
            color: white;
        }
        img{
            margin: 10px;
            height:100px;
            width: 100px;
        }
        .logos-head{
            margin: 20px;
            .logo{
                padding: 5px;
                font-family: $fuente-principal;
                text-decoration: none;
                color: white;
                font-size: 1.2rem;
                border: 1px solid transparent;
                border-radius: 3px;
                &:hover{
                    border: 1px solid white;
                    transition: .5s;
                }
            }
        }
    }
}
*/



/*
header{
    nav{
        div{
            .titulo{
                font-family: $fuente-carta;
                font-size: xx-large;
            }
            .links{
                display: flex;
                justify-content: center;
            }
        }
    }
}
.links{
    display: flex;
    justify-content: center;
}
header img{
    width: 100%;
}
*/